.card{
    height: 270px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: $Dark-Grayish-Blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 20px;

    &__div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 220px;
        margin-left: 20px;
        margin-right: 20px;
        gap: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    &__numberAdvice{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        color: $Neon-Green;
    }

    &__advice{
        text-align: center;
        font-size: 20px;
    }

    &__img{
        width: 200px;
    }


    &__button{
        background-color: $Neon-Green;
        width: 55px;
        height: 55px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        transform: translateY(50%);

        &:hover{
            box-shadow: $Neon-Green 0px 2px 4px 0px, $Neon-Green 0px 2px 16px 0px;
        }
    }

    &__btn-img{
        padding: 15px;
        border: none;
        cursor: pointer;
    }
}

@media all and (min-width: 768px){
    .card{
        width: 450px;

        &__numberAdvice{
            font-size: 15px;
        }

        &__advice{
            font-size: 25px;
        }

        &__img{
            width: 300px;
        }
    }
}