.card{
    height: 400px;
    width: 500px;
    background-color: $Dark-Grayish-Blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
}